<html>

<head>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <header>
        <div class="navContainer">
            <a href="/" class="logo">Resemble</a>
        </div>
    </header>

    <section>
        <img src="/static/img/parallaxImg1.png" data-speed="3.5" class="layer">
        <img src="/static/img/parallaxImg2.png" data-speed="-3" class="layer">
        <img src="/static/img/parallaxImg3.png" data-speed="3" class="layer">
        <img src="/static/img/parallaxImg4.png" data-speed="-3.5" class="layer">
        <img src="/static/img/parallaxImg5.png" data-speed="-3" class="layer">
        <img src="/static/img/parallaxImg6.jpg" data-speed="3" class="layer">
        <img src="/static/img/parallaxImg7.png" data-speed="3.5" class="layer">
        <img src="/static/img/parallaxImg8.png" data-speed="-3" class="layer">
        <img src="/static/img/parallaxImg9.png" data-speed="3" class="layer">
        <img src="/static/img/parallaxImg10.png" data-speed="-3.5" class="layer">
    </section>

    <div class="titleContainer">
        <img class="titleLogo" src="/static/img/smtmLogo.png"></img>
        <div class="title">쇼미더머니 닮은꼴 테스트</div>
        <div class="subTitle1">쇼미더머니 출연진 중, 나와 닮은 래퍼는?</div>
        <div class="subTitle2">인공지능(AI) 모델을 통해 알아보자</div>
        <button class="startBtn">Drop The Beat !</button>
    </div>

</body>

<script src="/static/js/index.js"></script>

</html>