body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer {
    position: relative;
    width: 40vw;
    height: 50vh;
    margin:3rem;
    background: var(--dark);
    border: 3px solid var(--dark);
    box-shadow: 4px 4px 10px #000000,
        -4px -4px 10px #353535,
        inset -2px -2px 4px #353535,
        inset 2px 2px 4px #000000;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
}

.imageContainer input {
    z-index: 2;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    opacity: 0;
    cursor: pointer;
}

.imageContainer img {
    position: absolute;
    max-width: 300px;
    max-height: 300px;
}

.imageContainer .description {
    position: absolute;
    z-index: 1;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s all;
}

.imageContainer:hover{
    border: 3px solid var(--gold);
}

.imageContainer:hover .description {
    background: #242424;
    border-radius: 4px;
}

.disabled:hover{
    cursor: default;
    border: 3px solid var(--dark);
}

.description h2{
    font-weight: normal;
}

.description i {
    margin: 12px;
    font-size: 3rem;
}

.description p {
    color: var(--grey);
    font-weight: 400;
    margin: 12px;
}

.description p i {
    font-size: inherit;
    padding-top: 2px;
    margin: 0 8px 0 0;
}

.loadingContainer {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.loader {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #121212;
    animation: loading 1.5s linear infinite;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(102, 193, 250,0.6));
    background-size: 50px 50px;
    background-repeat: no-repeat;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 45%;
    width: 9px;
    height: 9px;
    background: #66c1fa;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 0 10px #66c1fa,
                0 0 20px #66c1fa,
                0 0 30px #66c1fa,
                0 0 40px #66c1fa;
}

.loader span{
    position: absolute;
    top:9px;
    left:9px;
    right: 9px;
    bottom:9px;
    background: #121212;
    border-radius: 50%;
}

.loadingContainer h2{
    margin-top: 24px;
    font-weight: 100;
    color: #66c1fa;
}

.resultContainer {
    margin: 3rem;
    padding: 3rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 4px 4px 10px #000000,
                -4px -4px 10px #353535,
                inset -2px -2px 4px #353535,
                inset 2px 2px 4px #000000;
    border: 3px solid #000000;
}

.resultContainer .matchContainer *{
    margin: 1rem;
}

.resultContainer .matchContainer img{
    max-width: 300px;
    max-height: 300px;
    min-width: 250px;
    min-height: 250px;
}

.resultContainer .matchContainer p{
    font-weight: normal;
    font-size: 1.5rem;
}

.resultContainer .matchContainer div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultContainer .matchContainer .matchName{
    font-size: 2.5rem;
    color: #66c1fa;
    margin: 0;
}

.resultLabel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem;
}

.resultLabel img{
    width: 3rem;
    height: 3rem;
    border-radius: 2px;
}

.resultName{
    min-width: 100px;
    font-weight: normal;
    font-size: 1.3rem;
}

.probabilityContainer{
    position: relative;
    display: flex;
    align-items: center;
    min-width: 500px;
    height: 2rem;
}

.probabilityBox{
    position: absolute;
    z-index: 2;
    display: flex;
    padding-left: 0.1rem;
    align-items: center;
    min-width: 500px;
    height: 2rem;
    border-radius: 4px;
    box-shadow: 4px 4px 8px #000000,
                -4px -4px 8px #353535,
                inset -2px -2px 4px #353535,
                inset 2px 2px 4px #000000;
}

.resultProbability{
    position: absolute;
    z-index: 1;
    width: 30px;
    color: #fcfcfc;
    border-radius: 4px;
    line-height: 1.8rem;
    margin-left: 0.1rem;
}

.probability1{
    background: #66c1fa;
    width: 80%;
}
.probability2{
    background: #2671AF;
    width: 15%;
}
.probability3{
    background: #CD4C62;
    width: 5%;
}
.probability4{
    background: #F9A21A;
    width: 5%;
}

.retryBtn{
    width: 200px;
    height: 60px;
    margin-top: 3rem;
    color: var(--gold);
    border-radius: 8px;
    font-size: 1.5rem;
    border: 3px solid var(--gold);
    background: linear-gradient(to bottom, rgba(0,0,0,0.05, var(--dark)));
    box-shadow: 4px 4px 10px #000000,
                -4px -4px 10px #353535,
                inset -2px -2px 4px #353535,
                inset 2px 2px 4px #000000;

    transition: 0.3s all;
}

.retryBtn:hover{
    color: #66C1FA;
    cursor: pointer;
    border: 3px solid #66C1FA;
}

.retryBtn:focus{
    outline: none;
}

/* footer{
    width: 100%;
} */

/* -------------------------- media query ------------------------ */
@media screen and (max-width: 480px) {
    .titleContainer .title{
        font-size: 2.6rem;
    }
    .imageContainer {
        width: 75vw;
        height: 75vw;
    }
    .imageContainer .description{
        width: 95%;
        height: 95%;
    }
    .imageContainer img{
        min-width: 70%;
        min-width: 70%;
        max-width: 90%;
        max-height: 90%;
    }

    .resultContainer{
        width: 100%;
        margin: 3rem 0;
        padding: 3rem 0;
        border-top: 3px solid var(--dark);
        border-bottom: 3px solid var(--dark);
    }

    .resultContainer .matchContainer * {
        margin: 0.7rem;
    }

    .resultContainer .matchContainer img{
        max-width: 250px;
        max-height: 250px;
        min-width: 200px;
        min-height: 200px;
    }

    .resultLabel{
        width: 100%;
        margin: 0.7rem 0;
    }
    .resultLabel img {
        width: 10%;
        min-height: 40px;
        max-height: 40px;
    }

    .resultName {
        width: 20%;
        min-width: 0;
        font-size: 1rem;
    }

    .probabilityContainer {
        min-width: 67%;
        max-width: 67%;
        height: 1.7rem;
    }

    .probabilityBox {
        padding-left: 0;
        min-width: 100%;
        max-width: 100%;
        height: 1.7rem;
        box-shadow: 0px 4px 6px #000000,
            0px -4px 6px #353535,
            inset 0px -2px 4px #353535,
            inset 0px 2px 4px #000000;
    }
    .resultProbability{
        min-width: 4%;
        line-height: 1.45rem;
        margin-left: 0.05rem;
    }
}

@media screen and (max-width: 768px) {
    /* ... */
}

@media screen and (max-width: 1024px) {
    /* ... */
}

@media screen and (max-width: 1200px) {

}